<div class="container-fluid">
  <section class="main">
      <article>
        <p>
          <h3>Group Members:</h3>
          <ul>
            <li>
              Carlos Díaz
            </li>
            <li>
              Andrés Howard
            </li>
          </ul>
        </p>
      </article>
  </section>
</div>