
<!-- Jumbotron Header -->
<div class="background"><div class="img"></div>
<header class="jumbotron my-4">
  <h1 class="display-3">Welcome to Raise Your Heart!</h1>
  <p class="lead">We are a crowdfunding platform with sense.</p>
  <!--<a href="#" class="btn btn-primary btn-lg">Call to action!</a>-->
  <%= link_to "Browse Projects", projects_path, html_options = { class: "btn btn-primary btn-lg"}  %>
</header>
</div>

<%=render "projects/get_project_vertical", object: @projects %>

</div>
