<header class="page-header">
  <h1 class="display-3 text-center">Become a Member!
  </h1>
</header>
<div class="container text-center"> You are a member? <%= link_to "Log in here!", new_user_session_path%></div><br />

<%=render "devise/shared/data_member" %>
