
  <div class="row margin-top-20">
    <div class="col-md-6 visible-md visible-lg">
      <%=image_tag(object.avatar.url(:thumb), class: "thumb-v")%>
    </div>
    <div class="col-md-6">
      <div class="row">
        <strong><%=object.first%> <%=object.last%></strong>
      </div>
      <div class="row">
        <strong>Member since: </strong><%=User.member_since(object)%>
      </div>
    </div>
  </div>



