</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 profiletitle">
        <%if current_user?(@user)%>
          <h1 class="text-center"><span class="glyphicon glyphicon-user"></span>    My Profile</h1>
        <%else%>
          <h1 class="text-center"><span class="glyphicon glyphicon-user"></span>    <%= @user.first%> <%= @user.last%> </h1>
        <%end%>
      </div>
    </div>
  </div>
  <div class="container ">

<!-- Dejar abierto los div container, es el del layout-->