</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12 col-md-9 profiletitle">
        <h1 class="text-center"><span class="glyphicon glyphicon-user"></span>    My Profile</h1>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="visible-md visible-lg col-md-2 col-lg-2" id="sidebar-avatar">
      <p>
      <h3>Sidebar - Aside</h3>
      <h4 class="visible-xs">12 Columnas</h4>
      <h4 class="visible-sm">4 Columnas</h4>
      <h4 class="visible-md">3 Columnas</h4>
      <h4 class="visible-lg">3 Columnas</h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </aside>

      <% if current_user?(@user) %>
        <%=render "devise/shared/data_member"%>
      <% end %>
  </div>

<!-- Dejar abierto el div container-->