<div class="container">
  <div class="row">
    <aside class="visible-md visible-lg col-md-6">
      <%=image_tag(@project.avatar_file_name, :class=>"thumb thumb-project pull-left style-img" )%>
    </aside>
    <%=render "projects/form"%>
  </div>
</div>