<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <header class="page-header">
      <h1 class="display-3 text-center">We have <%= pluralize @projects.size, 'open project' %></h1>
    </header>
  </div>
</div>

<%=render "projects/get_project_vertical", object: @projects %>