@import "colors";

header {
  background:#ffffff;

}

body{
  padding-top: 80px;

}

.navex .navbar-brand>img {
  padding: 7px 15px;
}

.navbar-custom{
  color:#00984a;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-bottom: 0px;
}

.main {
  background:#f2f2f2;
}

.color1 {
  background: #34495e;
  color:#fff;
}

aside {
  background:#c0392b;
  color:#fff;
}

footer {
  background:#16a085;
  color:#fff;
}
