@import "colors";

header {
  background:#ffffff;

}

body{
  padding-top: 80px;

}

.navex .navbar-brand>img {
  padding: 7px 15px;
}

.navbar-custom{
  color:#00984a;
  font-weight: bold;
}

.main {
  background:#f2f2f2;
}

aside {
  background:#c0392b;
  color:#fff;
}

/*footer {
  background:#16a085;
  color:#fff;
}*/

.navbar.navbar-default {
  background-color: #99ccff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #00984a;
  font-weight: bold;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #00984a;
  font-weight: bold;
}