// Place all the styles related to the UserFundProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.w-30-form{
  margin: auto;
  width: 30%;
  padding: 10px;
}