</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 profiletitle">
          <h1 class="text-center"><%= @category.name%></h1>
      </div>
    </div>
  </div>

<div class="container">
  <%if @projects.count > 0 %>
    <%= render "projects/get_project_horizontal", object: @projects%>
  <%else%>
    <h3>This category doesn't have projects right now</h3>
  <%end%>