<aside id="sidebar">
  <nav>
    <ul>
      <li class="all-movies">
        <%= link_to 'All Users', users_path, class: 'button' %>
      </li>
      <li class="create-movie">
        <%= link_to 'Add New User', new_user_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>
